.container-footer{
    background-color: #6ec1e4;
    margin: 0;
    padding: 0;
    max-width: 100%;
    .footer-datos{
        display: flex;
        justify-content: space-around;
        .footer-datos__telefonos h5{
            font-size: 20px;
            color: white;
        }
        .footer-datos__ul{
            font-size: 13px;
            .footer-datos__li{
                color: white
            }
        }
    }
}