.navAnimation{
    animation-name: navAnimation;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    transition: 0.5s;
    
}

.navContentAnimation{
    animation-name: navContentAnimation;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    transition: 1s;
}

