.navAnimation{
    animation-name: navAnimation;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    transition: 0.5s;

}

// @keyframes navAnimation {

//     from{
//         height: 0px;
//     }
//     50%{
//         height: 75px;
//     }
//     to{
//         height: 60px;
//     }
    
// }