.rowsColor{
    margin: 15px 100px 15px 100px;
    .rowsColorA{
        background-color: rgb(38, 202, 208);
        height: 5px;
    }
    .rowsColorB{
        background-color: rgb(222, 69, 39);
        height: 5px;
    }
    .rowsColorC{
        background-color: rgb(25, 223, 68);
        height: 5px;
    }
    .rowsColorD{
        background-color: rgb(203, 234, 27);
        height: 5px;
    }
}