@import "titles";
@import "barraDerecha";
@import "footer";
@import "logosRedes";

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

.cuerpoSitio {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .disNoMob {
    display: none;
  }
}
