// font-family: 'Lobster', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Nunito', sans-serif;

@import "titles";
@import "barraDerecha";
@import "footer";
@import "logosRedes";
@import "contenidoSitio";
@import "rowColor";
@import "navAnimation";

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  .disNoMob {
    display: none;
  }
}

.padT{
  padding-top: 50px;
}

.padBm{
  padding-bottom: 50px;
}
.padBl{
  padding-bottom: 100px;
}

