.fontMiMunicipio {
  font-size: 50px;
  margin-top: 25px;
  color: #6ec1e4;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
.fontTalleres {
  font-size: 25px;
  margin-top: 25px;
  color: #6ec1e4;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.carousel-text{
  font-size: 30px;
  color: black;
  background-color: #6e89e4aa;
  margin: 0px 150px;
  margin-bottom: 15px;
}
.carousel-p{
  font-size: 25px;
  color: black;
  background-color: #2d50b0aa;
  margin: 0px 150px;
}


